#survey-form{
    width: 50% ;
    margin: auto;
    border: 1px solid #2b2946;
    background-color:#2b2946 ;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:4%;

}
#title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: xx-large;
    width: 40%;
    margin: auto;
    margin-bottom: 1%;
    color: white;


}
#description{
    font-style: italic;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    margin: auto;
    text-align: center;
    margin-bottom: 2%;
    color: white;
}
#name, #email, #age, #role, #favorite, #comment,#submit{
    width: 90%;
    border-radius: 5px;
}
#submit{
    background-color: #37af65;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image:url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg");
    background-repeat: round;
}